:root{
    --primary-color: #0000;
    --secondary-color: #ffff;
    --third-color:#ed1d27;
}


@font-face {
    font-family: "Gotham";
    src: url("../assets/Fonts/GothamBold.ttf"),
    url("../assets/Fonts/GothamBook.ttf"),
    url("../assets/Fonts/GothamLight.ttf"),
    url("../assets/Fonts/"),
    }

.main > div{
    border: solid 1px red;
}

body{
    background-color: black;
    color: white;
    font-family: "Gotham", sans-serif;
    background-image: url(/Blindness/assets/pictures/weelchair.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    }

    main{
    margin : 5% 15%;
    }
    
    h1{
    color: red;
    font-size: 5rem;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5%;
    
    }
    
    h2{
    font-size: 1,5rem;
    }
    .conteneur{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    }
    p{
    display: flex;
    max-width: 40rem;
    }
    
    
    footer{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    }
    ul{
    display: flex;
    flex-direction: row;
    }
    li{
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    
    
    }
    a{
    text-decoration: none;
    color: white;
    }
    