body{
    background-color: black;
    color: white;
    background-image: url(/Blindness/assets/pictures/blindfolded_girl.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
span{
    color: red;
}
.main{
    display: flex;
    flex-direction: column;
    margin: 5% 15%;
    font-family: "Gotham", sans-serif;
    }
    
.main__title{
    color: red;
    font-size: 2rem;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    }
    
.main__article--top{
    display: flex;
    flex-direction: column;
    }
.main__article--title{
    font-size: 1.5rem;
   
    }
    
.main__article--top-left{
    width: 50%;
    line-height: 1.5em;
    }

    
footer{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
ul{
    display: flex;
    flex-direction: row;
}

li{
    display: flex;
  flex-direction: column;
  margin: 0 1rem;  
}

a{
    text-decoration: none;
   color: white;
}


@media screen and (max-width:800px) {
    .main__title{
        justify-content: center;
        font-size: 1rem;
    }
  
    .main__article--title{
        display: flex;
        justify-content: center;
        font-size: 1rem;
    }

    .main__article--top-left{
        justify-content: center;
        width: 100%;
        
    }
}

/* graphiques */
.charts__title{
    
    margin-bottom: 3rem;
}
.charts__container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
}

.charts__item{
width: 40%;

background-color: rgba(255, 255, 255, 0.9);
margin: auto;
padding: 2rem;
}

.charts__item--paragraph{
    background-color:rgba(0, 0, 0, 0.9);
}


@media screen and (max-width:800px) {
    .charts__title{
        text-align: center;
    }
    .charts__container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }
    .charts__item{
        width: 80%;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.9);
        margin: auto;
        padding: 1rem;
        }
    
        .charts__item--paragraph{
            background-color:rgba(0, 0, 0, 0.9);
        }

        .charts__item--inverse{
            order: 2;
        }
  
}

